<form class="form-horizontal">
    <div class="form-group">
        <label for="attachment" class="col-md-2 control-label">Please choose stock data file(csv)</label>
        <div class="col-md-10">
            <input type="file" name="attachment" class="form-control" data-file-model="stockData.attachment"/>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="button" class="btn btn-primary" value="Save" data-ng-click="saveModel()"/>
        </div>
    </div>
</form>
<div class="container">
    <div class="col-lg-5">
        
    </div>

    <div class="col-lg-7">
        <table class="table table-striped table-bordered">
            <tr>
                <th>Index Name</th>
                <th>Date</th>
                <th>Stock Id</th>
                <th>Name</th>
                <th>Price</th>
                <th>Share</th>
                <th>Weight</th>
            </tr>
            <tr ng-repeat="stock in stockDataList">
                <td>{{ stock.IndexName }}</td>
                <td>{{ stock.Date }}</td>
                <td>{{ stock.Id }}</td>
                <td>{{ stock.Name }}</td>
                <td>{{ stock.Price }}</td>
                <td>{{ stock.Share }}</td>
                <td>{{ stock.Weight }}</td>
            </tr>
        </table>
    </div>
</div>